* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* cursor: none; */
}

body {
  font-size: 1.6rem;
  min-height: 100svh;
  width: 100svw;
  overscroll-behavior: none;
  font-weight: 400;
  font-style: normal;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
