* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  cursor: none;
}

body {
  font-size: 1.6rem;
  min-height: 100svh;
  width: 100svw;
  overscroll-behavior: none;
}
